@import "../../App.scss";



.navbar-wrapper {
  position: sticky;
  @include display-flex;
  height: 42px;
  justify-content: space-between;
  background-color: $grey400;
  box-sizing: border-box;
  padding: 0px 90px;
  color: $grey200;
  font-family: $fontSecondary;

  a {
    text-decoration: none;
    color: $grey200;

    &:hover {
      color: $grey100;
    }
  }

  @media (max-width:$mobileWidth) {
    padding: 0px 20px;
  }

}

.left-nav {
  @include display-flex;
  gap: 10px;

  @media (max-width:$mobileWidth) {
    font-size: 10px;
    gap: 10px;

    SvgIcon {
      font-size: 10px;
    }
  }
}

.right-nav {
  @include display-flex;
  gap: 30px;
  font-size: 12px;

  @media (max-width:$mobileWidth) {
    font-size: 10px;
    gap: 10px;

    .follow-us>p{
      display: none;
    }
    .follow-us{
      gap: 7px;
    }
  }

}

.follow-us {
  @include display-flex;
  gap: 12px;
}