@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Syne:wght@600;800&family=Work+Sans&display=swap");

$primaryColor: #f07e15;
$grey1000: #000000;
$grey400: #161615;
$grey100: #fff;
$grey200: #626262;

$fontPrimary: "Syne", sans-serif;
$fontSecondary: "Work Sans", sans-serif;
$fontLogo: "Poppins", sans-serif;

$weight800: 800;
$weight600: 600;
$weight400: 400;

$sizeH1: 135px;
$sizeH2: 90px;
$sizeSub: 26px;
$size14: 14px;
$size18: 18px;

@mixin display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  max-width: 1440px;
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}
